{{>header}}
    {{>navbar}}
<h1>Andy Warhol</h1>

<p>Andrew Warhola; Pittsburgh, Estados Unidos, 1928 - Nueva York, 1987) Artista plástico estadounidense que llegó a ser el más conocido representante del pop art, corriente artística en boga durante las décadas de 1950 y 1960 que se inspiró en la cultura de masas. Hijo de emigrantes eslovacos, inició sus estudios de arte en el Instituto Carnegie de Tecnología, entre 1945 y 1949. En este último año, ya establecido en Nueva York, comenzó su carrera como dibujante publicitario para diversas revistas como Vogue, Harper's Bazaar, Seventeen y The New Yorker.
<br>
Al mismo tiempo pintó lienzos cuya temática se basaba en algún elemento o imagen del entorno cotidiano, de la publicidad o el cómic. Pronto comenzó a exponer en diversas galerías. Eliminó progresivamente de sus trabajos cualquier rasgo expresionista hasta reducir la obra a una repetición seriada de un elemento popular procedente de la cultura de masas, el mundo del consumo o los medios de comunicación.
<br>
Dicha evolución alcanzó su cota máxima de despersonalización en 1962, cuando pasó a utilizar como método de trabajo un proceso mecánico de serigrafía, mediante el cual reproducía sistemáticamente mitos de la sociedad contemporánea y cuyos ejemplos más representativos son las series dedicadas a Marilyn Monroe, Elvis Presley, Elizabeth Taylor o Mao Tse-tung, así como su célebre tratamiento de las latas de sopa Campbell, obras todas ellas realizadas durante la fructífera década de 1960.
<br>
El uso de imágenes de difusión masiva, fácilmente reconocibles por todo tipo de públicos, como las ya mencionadas latas de sopa o los botellines de Coca-Cola, se convirtió en uno de los rasgos más interesantes y estables de toda su producción. En otras ocasiones plasmó crudamente situaciones reales, como accidentes, luchas callejeras, funerales o suicidios; dentro de esta temática, Electric chair es una de sus obras más significativas.
<br>
Este apropiacionismo, constante en los trabajos de los partidarios del pop art, se extendió a obras de arte de carácter universal y de autores como Rafael Sanzio, Giorgio de Chirico, Edvard Munch o Leonardo da Vinci. Se caracterizan las obras de esta época por su libérrima manipulación y la polémica que suscitaron en su momento. Tanto por el uso del color, unas veces monocromo y otras fuertemente contrastado, pero en todo caso vivo y brillante, como por la temática, su obra resulta siempre provocadora y, a menudo, angustiosa. Mediante la reproducción masiva consiguió despojar a los fetiches mediáticos que empleaba de sus referentes habituales, para convertirlos en iconos estereotipados con mero sentido decorativo.
<br>
Otra faceta destacada de su obra es su potentísima fuerza visual, que en buena parte procede de sus conocimientos sobre los mecanismos del medio publicitario. En 1963 creó la Factory, taller en el que se reunieron en torno a él numerosos personajes de la cultura underground neoyorquina. La frivolidad y la extravagancia que marcaron su modo de vida establecieron a la postre una línea coherente entre obra y trayectoria vital; su peculiar aspecto, andrógino y permanentemente tocado con un rubio flequillo característico, acabó por definir un nuevo icono: el artista mismo.
<br>
De hecho, fue uno de los primeros creadores en explotar conscientemente su imagen con objetivos autopromocionales; de ese modo, y mediante un proceso de identificación, adquirió a los ojos del público significaciones propias de un producto publicitario más. En 1963 inició una carrera cinematográfica basada en los mismos principios que su obra plástica (como la reiteración visual), en ocasiones de fuerte contenido sexual y erótico: Kiss (1963), Empire (1964), Chelsea girls (1966). En una última etapa retornó a un formato más tradicional y rodó The loves of Ondine (1967) y Women in revolt (1970).
<br>
</p>
<h1>OBRAS DE ANDY WARHOL</h1>
<br>
<h3>Latas de sopa Campbell (1962)</h3>
<img src="/images/latas.jpg">
<br>
<h3>Shot Marilyns (1964)</h3>
<img src="/images/marilyn.jpg">
<br>
<h3>Triple Elvis (1963)</h3>
<img src="/images/coronacion.jpg">
<br>
<h3>Ingrid (1983)</h3>
<img src="/images/ingrid.jpg">
<br>
<h3>Reigning Queens (1985)</h3>
<img src="/images/queens.jpg">
{{>footer}}
