{{>header}}
    {{>navbar}}
  <h1>Diego Rivera</h1>
  <p>
    (Guanajuato, 1886 - Ciudad de México, 1957) Muralista mexicano. Los artistas mexicanos Diego Rivera, David Alfaro Siqueiros y José Clemente Orozco conforman la tríada de los máximos representantes del muralismo mexicano, escuela pictórica que floreció a partir de los años veinte del pasado siglo.
    <br>
    Formado en la Escuela de Bellas Artes de San Carlos de la capital mexicana, a la que se había trasladado con su familia a los seis años de edad, Diego Rivera estudió luego por espacio de quince años (1907-1922) en varios países de Europa (en especial, España, Francia e Italia), donde se interesó por el arte de vanguardia y abandonó el academicismo. Las obras de este período reflejan, por un lado, un acusado interés por el cubismo sintético de Juan Gris (El guerrillero, 1915), asumido en su etapa parisina, y por otro una gran admiración por los fresquistas italianos del Quattrocento (y en especial, por Giotto), lo que motivó su alejamiento de la estética cubista anterior.
    <br>
    Identificado con los ideales revolucionarios de su patria, Rivera volvió desde tierras italianas a México (1922), en un momento en que la revolución parecía consolidada. Junto con David Alfaro Siqueiros se dedicó a estudiar en profundidad las formas primitivas del arte azteca y de la cultura maya, que influirían de manera significativa en su obra posterior. En colaboración con otros destacados artistas mexicanos del momento (como el propio Siqueiros y José Clemente Orozco), fundó el sindicato de pintores, del que surgiría el movimiento muralista mexicano, de profunda raíz indigenista.
    <br>
    Durante la década de los años 20 recibió numerosos encargos del gobierno de su país para realizar grandes composiciones murales; en ellas, Rivera abandonó las corrientes artísticas del momento para crear un estilo nacional que reflejara la historia del pueblo mexicano, desde la época precolombina hasta la Revolución, con escenas de un realismo vigoroso y popular, y de colores vivos. En este sentido son famosas, por ejemplo, las escenas que evocan la presencia de Hernán Cortés en tierras mexicanas (por ejemplo, la llegada del conquistador a las costas de Veracruz, o su encuentro en Tenochtitlán con el soberano azteca Moctezuma Xocoyotzin).
    <br>
    <h1>La plenitud del muralismo</h1>
    La obra de Diego Rivera (y la del movimiento muralista como arte nacional) alcanzó su madurez artística entre 1923 y 1928, cuando realizó los frescos de la Secretaría de Educación Pública, en Ciudad de México, y los de la Escuela Nacional de Agricultura de Chapingo. El primero de estos edificios posee dos patios adyacentes (de dos pisos cada uno) que el artista cubrió en su totalidad con sus pinturas murales. El protagonista absoluto de estos frescos es el pueblo mexicano representado en sus trabajos y en sus fiestas. Rivera escribió que su intención era reflejar la vida social de México tal y como él la veía, y por ello dividió la realidad en dos amplias esferas: la del trabajo y la del ocio, y las distribuyó en zonas arquitectónicas separadas.
    <br>
    En la serie de murales realizados en 1927 en la Escuela Nacional de Agricultura de Chapingo, Rivera representó su particular visión de la revolución agraria de México haciendo uso de estereotipos extraídos de la pintura religiosa. Esto se evidencia en la Alianza obrero-campesino, El reparto de tierras o Revolución-Fructificación, cuyo referente inmediato son Las exequias de San Francisco que se encuentran en la catedral florentina. Ambos ciclos murales, el primero de reivindicación nacionalista, el segundo de carácter conmemorativo, encarnan la culminación de un nuevo lenguaje figurativo
    <br>
    Pero donde verdaderamente Rivera creó una imagen visual de la identidad mexicana moderna fue en los frescos que, a partir de 1929, pintó en el Palacio Nacional de México. La narración, que ilustra la historia del país desde la época precolombina, ocupa las tres paredes que se localizan frente a la escalinata principal del edificio. La pared central recoge el período que va desde la conquista española de México en 1519 hasta la revolución, representada a través de sus grandes hitos. En el de la derecha se describe una visión nostálgica e idealizada del mundo precolombino, mientras en la izquierda se ofrece la visión de un México moderno y próspero.
    <br>
    La reconstrucción épica que Rivera hace de la historia nacional se basa en la heroica lucha de liberación colonial, y las imágenes poseen un mensaje inequívoco en el que se pone de relieve la opresión de la población indígena y campesina, a la par que se satiriza con dureza a las clases dominantes. La idealización deliberada del mundo prehispánico, poniendo énfasis en la figura del indígena como representación simbólica de las virtudes nacionales, contrasta con el mundo de los colonizadores europeos, con el objetivo de exaltar la singularidad de la identidad mexicana tanto frente a los extranjeros como frente a los dictadores internos.
    <br>
    Rivera reflejaba así su adhesión a la causa socialista en sus realizaciones murales; de hecho, reafirmó siempre su condición de artista comprometido políticamente, y fue uno de los fundadores del Partido Comunista Mexicano. Visitó la Unión Soviética en 1927-28, y, de nuevo en México, se casó con la pintora Frida Kahlo, que había sido su modelo. Fue una relación tempestuosa a causa de la irrefrenable afición de Rivera a las mujeres (llegó a tener como amante a Cristina Kahlo, la hermana menor de Frida), pero la compenetración entre ambos dio lugar también a etapas de paz y creatividad, y la casa de la pareja en Coyoacán se convertiría en centro de singulares tertulias políticas y artísticas.
    <br>
    Entre 1930 y 1934 Rivera residió en Estados Unidos. Entre las obras que realizó en este período merece ser destacado el conjunto que pintó en el patio interior del Instituto de las Artes de Detroit (1932-1933), donde hizo un exaltado elogio de la producción industrial. Concluidos estos frescos, comenzó la elaboración de un gran mural para el Rockefeller Center de Nueva York. Bajo el lema El hombre en la encrucijada, Rivera pintó una alegoría en la que ciencia y técnica otorgan sus dádivas a la agricultura, la industria y la medicina, pero la inclusión de la figura de Lenin en un lugar destacado entre los representantes del pueblo provocó una violenta polémica en la prensa norteamericana.
    <br>
    Ante la negativa de Rivera de suprimir la figura del líder soviético, la controversia se zanjó con la destrucción del fresco. Con algunas modificaciones y un nuevo título (El hombre controlador del universo), Rivera volvería a pintar el mismo tema en el Palacio de Bellas Artes de la Ciudad de México en 1934. De 1936 a 1940 Rivera se dedicó especialmente a la pintura de paisajes y retratos. Ensayista y polémico, publicó junto a André Breton un Manifeste pour l'Art Révolutionnaire (1938).
    <br>
    En la década de los cuarenta continuó desarrollando su actividad de muralista en diversos sitios públicos, y sus obras siguieron provocando polémicas; la más famosa de ellas fue Sueño de una tarde dominical en la alameda (1947), retrato de un paseo imaginario en que el que coinciden personajes destacados de la historia mexicana, desde el periodo colonial hasta la revolución. En este mural colocó la frase "Dios no existe" en un cartel sostenido por el escritor ateo del siglo XIX Ignacio Ramírez el Nigromante, hecho que generó virulentas reacciones entre los sectores religiosos del país
    <br>
    El pintor mexicano legó a su país sus obras y colecciones: donó al pueblo un edificio construido por él, la Casa-Museo Anahuacalli, donde se conservan sus colecciones de arte precolombino, y su casa en México D.F. fue convertida en el Museo Estudio Diego Rivera, que alberga obras y dibujos suyos, así como su colección de arte popular.
    <br>
    </p>
    <h1>OBRAS DE DIEGO RIVERA</h1>
<br>
<h3>El hombre controlador del universo (1934)</h3>
<img src="/images/hombre.jpg">
<br>
<h3>Sueño de una tarde dominical en la alameda (1947)</h3>
<img src="/images/tarde.jpg">
<br>
<h3>El desembarco de los españoles en Veracruz (Palacio Nacional de México)</h3>
<img src="/images/españoles.jpg">
<br>
<h3>Fondos congelados(1931)</h3>
<img src="/images/fondos.jpg">
<br>
<h3>Night of the Rich (1928)</h3>
<img src="/images/rich.jpg">

{{>footer}}