 {{>header}}
    {{>navbar}}
  <h1>Diego Velázquez</h1>
  <p>
    (Diego Rodríguez de Silva y Velázquez; Sevilla, 1599 - Madrid, 1660) Pintor español. Además de ser la personalidad artística más destacada de su tiempo, Diego Velázquez es también la figura culminante del arte español, sin rival hasta los tiempos de Goya. 
    <br>
    Diego Velázquez realizó su aprendizaje en Sevilla, en el taller de Francisco Pacheco, con cuya hija se casó en 1617. Cuando todavía era un adolescente, pintó algunas obras religiosas (La Inmaculada Concepción, La Adoración de los Reyes Magos) con un realismo inusual y pronunciados efectos de claroscuro. A la misma época pertenece una serie de obras de género con figuras de prodigiosa intensidad y una veracidad intensísima en la reproducción tanto de los tipos humanos como de los objetos inanimados; entre otros ejemplos se pueden citar Vieja friendo huevos y El aguador de Sevilla.
    <br>
    También por entonces pintó inusitados cuadros de temática religiosa ambientados en escenarios cotidianos, como Cristo en casa de Marta o Cristo en Emaús; de hecho, la capacidad de convertir escenas de la vida de Jesucristo en algo cercano y realista constituye una característica del barroco sevillano que Velázquez legó a otros artistas de su tiempo.
    <br>
    Estas obras, de un estilo por lo demás muy distinto del de su época de madurez, le valieron cierta reputación, que llegó hasta la corte, por lo que en 1623 Diego Velázquez fue llamado a Madrid por el conde-duque de Olivares, valido de Felipe IV, para que pintara un retrato del rey; tanto gustó la obra al soberano que lo nombró pintor de corte.
    <br>
    Comenzó así para Velázquez una larga y prestigiosa carrera cortesana, a lo largo de la cual recibió destacados títulos, como los de ujier de cámara y caballero de la Orden de Santiago. Desde su nombramiento oficial hasta el final de sus días pintó numerosos retratos de Felipe IV y de diversos miembros de su familia, a pie o a caballo.

  Se trata de obras de gran realismo y excepcional sobriedad en las que el magistral empleo de la luz sitúa los cuerpos en el espacio y hace vibrar a su alrededor una atmósfera real que los envuelve. Los fondos, muy densos al principio, se suavizan y aclaran luego, con el paso del tiempo. En los retratos femeninos (el de Mariana de Austria, por ejemplo), el artista se recrea en los magníficos vestidos, en los que muestra sus grandes cualidades como colorista.

 La culminación de su carrera como retratista es Las Meninas, considerada por algunos como la obra pictórica más importante de todos los tiempos. Hay que destacar igualmente las incomparables series de enanos y tullidos de la corte. Velázquez realizó dos viajes a Italia, uno en 1629-1631 y otro en 1648-1651. En ambos produjo obras importantes: La túnica de José y La fragua de Vulcano en el primero; los retratos de Juan de Pareja y de Inocencio X en el segundo; el del Papa es un retrato portentoso, dotado de una vivacidad, una intensidad y un colorismo excepcionales.
 <br>
 Al genio sevillano se debe también una obra maestra de la pintura histórica, La rendición de Breda, pintada en 1634 para el Salón de Reinos del palacio del Buen Retiro de Madrid. El mérito de la obra reside en la ausencia del engolamiento habitual en los cuadros de temática histórica y en la plasmación de las facetas más humanas del acontecimiento; la composición admirablemente resuelta y la atmósfera de extraordinario realismo han hecho de esta obra una de las más conocidas del maestro.
<br>
Artista prolífico, Diego Velázquez dejó también importantes creaciones de temática religiosa (Crucificado) y algunas de tema mitológico en clave cotidiana, como Los borrachos o Las hilanderas, ésta última una de las obras capitales del artista por la perfección que alcanza en ella la perspectiva aérea. El tono de cotidianidad, de acontecimiento vivo, confiere a estas realizaciones un particular atractivo.

De temática mitológica es asimismo la magistral Venus del espejo, el único desnudo femenino que pintó y uno de los pocos de la historia de la pintura española. Poco conocido fuera de España hasta el siglo XIX, Diego Velázquez es hoy considerado uno de los grandes genios de la pintura universal
</p>
<br>
<h1>OBRAS DE DIEGO VELÁZQUEZ</h1>
<br>
<h3>Las meninas (1656)</h3>
<img src="/images/velazquez_meninas.jpg">
<br>
<h3>La rendición de Breda (1635)</h3>
<img src="/images/velazquez_breda.jpg">
<br>
<h3>Coronación de la Virgen (1644)</h3>
<img src="/images/coronacion.jpg">
<br>
<h3>Venus del espejo (1647)</h3>
<img src="/images/venus.jpg">
<br>
<h3>Dos jóvenes a la mesa (1622)</h3>
<img src="/images/mesa.jpg">
{{>footer}}
