   {{>header}}
    {{>navbar}}
    {{>footer}}
  <h1>Frida Kahlo</h1>
  <p> FRIDA KAHLO (MAGDALENA CARMEN FRIDAKAHLO CALDERÓN) nació el 6 de julio de 1907
en la Ciudad de México, en la casa que fuera propiedad de sus padres desde 1904, y que hoy
se conoce como la Casa Azul. Hija de Wilhelm (Guillermo) Kahlo, de ascendencia húngaroalemana, y Matilde Calderón, originaria de Oaxaca, Frida fue la tercera de cuatro hijas. Sus dos
hermanas, Matilde y Adriana, fueron las mayores y Cristina, la menor.
<br>
A los seis años Frida enfermó de poliomielitis, causándole que su pierna derecha quedara más
corta; esto fue motivo de burlas. Sin embargo, estos sucesos no le impidieron ser una
estudiante inquieta y tenaz. Realizó sus estudios en la Escuela Nacional Preparatoria.
A los 18 años, el 17 de septiembre de 1925, Frida tuvo un trágico accidente. El autobús en el
que viajaba fue arrollado por un tranvía. Las consecuencias para ella fueron graves: fractura
de varios huesos y lesiones en la espina dorsal. Debido a la inmovilidad a la que se vio sometida
varios meses, Frida comenzó a pintar. Así, se relaciona con varios artistas, entre ellos la
fotógrafa Tina Modotti y el entonces ya reconocido artista Diego Rivera.
<br>
En 1929 Frida se casó con el muralista. El matrimonio vivió en la Casa Azul, hogar de la
infancia de Frida, así como en el estudio de Diego, en San Ángel. Tuvieron estancias cortas en
la Ciudad de México. Kahlo y Rivera también radicaron en Cuernavaca y en diversas ciudades
de los Estados Unidos: Detroit, San Francisco, Nueva York. 
En 1930 Frida sufrió su primer aborto. En noviembre de ese mismo año y por razones de
trabajo, el matrimonio viajó a San Francisco. En esta ciudad la pintora conoció al doctor Leo
Eloesser, quien sería uno de sus médicos de cabecera y uno de sus mejores amigos.
Las infidelidades de Diego desataron crisis emocionales de la artista. Frida se divorció del
muralista en 1939 para contraer nupcias nuevamente con él un año después.
<br>
A pesar de su mala salud y de haber sido operada en múltiples ocasiones, Frida fue una artista
con una intensa actividad. En lo político, fue miembro del partido comunista y una fiel activista
de izquierda. Junto con Rivera, acondicionó la Casa Azul para darle asilo por más de dos años
a León Trotsky y a Natalia, su mujer. Incluso, días antes de morir, Frida participó en una
marcha de protesta en contra del derrocamiento del guatemalteco Jacobo Árbenz, lo cual le
provocó una embolia pulmonar.
<br>
Fue maestra de la Escuela Nacional de Pintura y Escultura “La Esmeralda”. Tanto en su trabajo
como en su vida cotidiana –lenguaje, vestimenta, y decoración de su casa- Frida buscó
rescatar las raíces del arte popular mexicano, y ese interés se ve reflejado en su obra; por
ejemplo, la vestimenta en sus autorretratos así como el estilo simple y directo característico
de los exvotos populares.
<br>
Frida afirmaba que, al contrario de los pintores surrealistas, ella no pintaba sus sueños, sino
su realidad. De su obra destacan los autorretratos influidos por la técnica del retrato
fotográfico que aprendió de su padre, Guillermo Kahlo.
Al final de su vida, la salud de la artista decayó. De 1950 al 51, permaneció internada en el
Hospital Inglés. En 1953, ante la amenaza de gangrena, se le amputó la pierna derecha.
Frida Kahlo murió en la Casa Azul en la Ciudad de México el 13 de julio de 1954, cuando el
Instituto Nacional de Bellas Artes le preparaba, como Homenaje Nacional, una muestra
retrospectiva.
<br>
De entre los cuadros que conforman la obra de la pintora, algunos de los más famosos son
Las dos Fridas, Viva la Vida, Unos cuantos piquetitos, La columna rota y Diego en mi
pensamiento.
<br>
Durante su vida, la artista realizó algunas exposiciones: una en Nueva York en la galería Julien
Levy, otra en París en la galería Rue et Colle y otra en México en la galería de Lola Álvarez
Bravo. También participó en la Exposición Colectiva de Surrealismo en la famosa Galería de
Arte Mexicano.
<br>
El Museo de Louvre adquirió uno de sus autorretratos. Sus cuadros se encuentran en
numerosas colecciones privadas de México, los Estados Unidos y Europa. Su personalidad ha
ido adoptada como una de las banderas del feminismo, de la discapacidad, de la libertad
sexual y de la cultura mexicana. Frida Kahlo se ha convertido en un referente que rebasa el
mito que la pintora creara de sí misma.
<br>
<h1>OBRAS DE FRIDA KAHLO</h1>
<br>
<h3>La columna rota (1944)</h3>
<img src="/images/columna_rota.jpg">
<br>
<h3>Autorretrato con pelo corto (1940)</h3>
<img src="/images/pelo_corto.jpg">
<br>
<h3>El tiempo vuela (1929)</h3>
<img src="/images/tiempo.jpg">
<br>
<h3>Unos cuantos piquetitos (1935)</h3>
<img src="/images/unos_cuantos_piquetitos.jpg">
<br>
<h3>Raíces (1943)</h3>
<img src="/images/raices.jpg">

