    {{>header}}
    {{>navbar}}
  <h1>Estos son mis pintores favoritos</h1>
 <h2>Frida Kahlo</h2>
 <h2>Andy Warhol</h2>
 <h2>Diego Velázquez</h2>
 <h2>Diego Rivera</h2>
    {{>footer}}
    
   